.logo {
    background-image: url("../imgs/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card-cover {
    background: linear-gradient(0deg, rgb(23, 28, 37) 0%, rgba(0, 0, 0, 0) 50%);
}
