.logo {
    background-image: url("../imgs/logo.png");
    width: 100px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-cover {
    background: linear-gradient(0deg, rgb(23, 28, 37) 0%, rgba(0, 0, 0, 0) 50%);
}

.no-scrollbar {
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.scrollbar-track {
    background: none !important;
}

.scrollbar-thumb {
    background: rgb(91, 76, 190) !important;
}
